@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #cv-template,
  #cv-template * {
    visibility: visible;
  }
  #cv-template {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print-hidden {
    display: none !important;
  }
}
